* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  line-height: normal;
}
li,
ol {
  list-style-type: none;
  font-size: 18px;
  margin: 0 0 10px 0;
}

body {
  background-color: #313c50ff;
}
button,
textarea,
input {
  cursor: pointer;
  border: 0;
}

textarea,
input {
  border: 1px solid #000;
}
textarea:focue,
input:focus {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
hr {
  margin: 10px 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 25px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
}

.card__text {
  margin: 0 0 15px 0;
}

.card__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.card__item-select {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__item-body {
  margin: 0 0 25px 0;
}

.card__item-select__item-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
  color: #000;
  border-radius: 50%;
  background-color: #CECECEFF;
}

.card__item-select__item-span.oldElem {
  background-color: #70b68dff;
  color: #fff;
}
.card__item-select__item-span.active {
  background-color: #70b68dff;
  color: #000;
}


.card__item-select_item {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
  padding: 0;
  cursor: pointer;
}

.card__item-btn button {
  padding: 5px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
} 

.card__item-btn_back {
  color: #70b68dff;
  border: 2px solid #70b68dff;
  background-color: transparent;
  margin: 0 25px 0 0;
}
.card__item-btn_back.none {
  background-color: #F0F0F0FF;
  color: #B1B1B1FF;
  border: 0;
}


.card__item-btn_forward {
  color: #fff;
  background-color: #70b68dff;
}