* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  line-height: normal;
}
li, ol {
  list-style-type: none;
  font-size: 18px;
  margin: 0 0 10px 0;
}
li:last-child, ol:last-child {
  margin: 0;
}
body {
  background-color: #313c50ff;
}
button, textarea, input {
	cursor: pointer;
	border: 0;
}

textarea, input {
  border: 1px solid #000;
}
textarea:focue, input:focus {
  border: 0;
  outline: 0;
  background-color: rgba(0,0,0, 0.3);
}
hr {
  margin: 10px 0;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 25px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.card__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 25px 0;
}
.card__second-title {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.card__new-title {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 7px;
  max-width: 250px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.myHtmlTag {
  color: red;
  font-size: 50px;
  margin: 120px;
}