* {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  line-height: normal;
}
body {
  background-color: #313c50ff;
}
button, textarea, input {
	cursor: pointer;
	border: 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.counter__body {
  background-color: #fff;
  border-radius: 20px;
  padding: 35px;
}
.counter__title {
  font-size: 42px;
  margin: 0 0 25px 0;
}
.counter__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter__inc,
.counter__dec {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.counter__inc {
  background-color: green;
}

.counter__dec {
  background-color: red;
}
