<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root">
      <div class="counter">
        <div class="counter__body">
          <h1 class="counter__title">{{ title }}</h1>
          <h2 class="counter__answer">answer: {{inputValue}}</h2>
          <div class="counter__items">
            <input
              type="text"
              class="counter__input"
              v-bind:placeholder="placeholder"
              v-bind:value="inputValue"
              v-on:input="inputChangeHandler"
              v-on:keypress.enter="handleAddNodes"
            />
          </div>
          <button class="counter__btn" v-on:click="handleAddNodes">
            Добавить
          </button>
          <hr />
          <ul class="counter__list" v-if="nodes.length">
            <li class="counter__list-item" v-for="(myNode, idx) in nodes">
              ({{idx}}) {{toUpperCaseMethod(myNode)}}
              <button class="counter__delete" v-on:click="deleteNode(idx)">
                Удалить
              </button>
            </li>
          </ul>
          <div v-else class="counter__label">Заметок нет. Добавьте первую заметку</div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
